.welcomeToSedona {
    width: 1200px;
    height: 485px;
    background-color: lightseagreen;
    background-image: url(../img/index/indexBackgroundHeader.jpg);
    background-repeat: no-repeat;
}

.subscription {
    width: 1200 px;
    height: 411px;
    background-color: lightseagreen;
    background-image: url(../img/index/indexBackgroundFooter.jpg);
    background-repeat: no-repeat;
}

.catalog-header {
    width: 1200px;
    height: 408px;
    background-color: lightgreen;
    background-image: url(../img/catalog/catalogBackgroundHeader.jpg);
    background-repeat: no-repeat;
}