@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #333;
}

img {
    max-width: 100%;
    object-fit: contain;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.welcomeToSedona {
    margin: 0;
    margin-bottom: 65px;
    padding: 0;
    padding-top: 50px;
    width: 1200px;
    min-height: 434px;
    background-color: lightseagreen;
    background-image: url(../img/index/indexBackgroundHeader.jpg);
    background-repeat: no-repeat;
}

.subscription-main {
    width: 1200px;
    height: 221px;
    margin: 0 auto;
    padding: 95px 0px;
    color: #FFF;
    background-color: lightseagreen;
    background-image: url(../img/index/indexBackgroundFooter.jpg);
    background-repeat: no-repeat;
    text-align: center;
}

.subscription-form {
    display: flex;
    justify-content: center;
    margin-bottom: 140px;
}

.subscription-email-form {
    background-color: white;
    display: block;
    box-sizing: border-box;
    width: 600px;
    height: 60px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 0px 20px;
    font: inherit;
}

.subscription-catalog .subscription-email-form {
    background-color: #F2F2F2;
}

.subscription-email-form + .button {
    display: block;
    margin: 0;
    width: 200px;
    min-height: 60px;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #83B3D3;
    font: inherit;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.subscription-catalog {
    width: 1055px;
    margin: 0 auto;
    padding-top: 72px;
    text-align: center;
}

.catalog-header {
    box-sizing: border-box;
    margin: 0;
    padding: 35px 72px 70px 72px;
    margin-bottom: 19px;
    width: 1200px;
    min-height: 287px;
    background-color: lightgreen;
    background-image: url(../img/catalog/catalogBackgroundHeader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-img {
    z-index: 1;
}

.main-nav-link {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    color: #000;
}

.main-nav-link:hover {
    color: #756257;
}

.main-nav-link:focus {
    border: none;
    outline: none;
    text-transform: uppercase;          /*двигает соседей. не победил*/
}

.main-nav-link:active {
    color: #756257;
    opacity: 30%;
}

.navigation-link-current {
    position: relative;
}

.navigation-link-current::after {
    content: "";
	display: block;
	position: absolute;
	height: 3px;
	left: 0;
    right: 0;
    top: 43px;
	background-color: #756257;
}

.navigation {
    width: 1060px;
    display: flex;
    margin: 0 auto;
    margin-bottom: -5px;
}

.navigation-list {
    list-style-type: none;
    min-width: 345px;
    margin: 0;
    margin-left: 14px;
    padding: 20px 17px 0 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navigation-user {
    list-style-type: none;
    box-sizing: border-box;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    margin-left: auto;
}

.navigation-user a {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-decoration: none;
    min-width: 42px;
    min-height: 37px;
    border-radius: 4px;
    text-transform: uppercase;
}

.navigation-svg {
    fill: black;
}

.navigation-svg:hover {
    fill: #756257;
}

.navigation-user:focus a, 
.navigation-svg-link:focus {
    border: none;
    outline: 3px solid #83B3D3;
}

.navigation-svg:active {
    opacity: 30%;
}

.navigation-user-link {
    box-sizing: border-box;
    width: 160px;
    min-height: 37px;
    background-color: #756257;
    margin-left: 20px;
    font-weight: bold;
    line-height: 20px;
}

.navigation-user-link:hover {
    background-color: #615048;
}

.navigation-user-link:focus{
    border: none;
    outline: 3px solid #83B3D3;
}

.navigation-user-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.advantages-header, 
.appointment-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #000;
}

.advantages-header {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.advantages-intro {
    margin-bottom: 80px;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
}

.photo-advantage-description {
    background-color: #83B3D3;
    color: #FFF;
}

.photo-advantage-description h2 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 29px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.advantage-number {
    margin: 0;
    margin-bottom: 30px;
}

.advantage-text {
    margin: 0;
}

.advantages-definitions-list dt, 
.advantages-definitions-item h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000;
}

.appointment-text {
    font-size: 22px;
    line-height: 26px;
}

.appointment-link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 575px;
    min-height: 60px;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    color: #FFF;
    background-color: #756257;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.appointment-link:hover {
    background-color: #615048;
}

.appointment-link:focus {
    border: 3px solid #83B3D3;
}

.appointment-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.subscription-catalog .subscription-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 48px;
}

.subscription-text {
    font-size: 22px;
    line-height: 26px;
}

.catalog-header {
    color: #FFF;
}

.catalog-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs-link {
    color: inherit;
    font-size: 16px;
    line-height: 21px;
}

.hotels-found-label {
    margin-right: 192px;
    padding-left: 71px;
    color: #000;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
}

.select-control {
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 81px;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 19px;
    text-decoration: none;
    width: 287px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
}

.select-control > summary {
    list-style: none;
    position: relative;
}

.select-control > summary::after {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 7px;
    right: 20px;
    bottom: 5px;
    background-image: url(../img/catalog/catalog-summary-dropdown.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.select-control a {
	text-decoration: none;
}

.catalog-view-list {
    margin: 0;
    padding: 0;
}

.catalog-view-item {
    margin-right: 8px;
}

.hotel-card {
    display: grid;
    grid-template-columns: 133px 140px;
    grid-template-rows: 206px 66px 37px 53px 37px;
    column-gap: 26px;
}

.hotel-card:last-child {
    margin-bottom: 84px;
}

.hotel-card .hotel-card-title {
    color: #000;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    margin-top: 17px;
    margin-bottom: 18px;
    padding: 0;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    max-height: 100%;
}

.hotel-card-image {
    vertical-align: center;
}

.hotel-card-link {
    width: 300px;
    text-decoration: none;
    grid-column: 1 / -1;
}

.hotel-card-link:hover {
    opacity: 60%;
}

.hotel-card-link:focus {
    border: none;
    margin: 0;
    padding: 0;
    outline: 3px solid #83B3D3;
}

.hotel-card-link:active {
    opacity: 30%;
}

.hotel-type, 
.hotel-price {
    margin-bottom: 16px;
}

.hotel-card-about, 
.hotel-card-favourite {
    display: flex;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    min-height: 37px;
    color: #FFF;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    border-radius: 4px;
    margin-bottom: 16px;
}

.hotel-card-about {
    background-color: #756257;
    width: 133px;
}

.hotel-card-about:hover {
    background-color: #615048;
}

.hotel-card-about:focus {
    border: none;
    outline: 3px solid #83B3D3;
}

.hotel-card-about:active {
    color: rgba(255, 255, 255, 0.3);
}

.hotel-card-favourite {
    background-color: #83B3D3;
    width: 140px;
}

.hotel-card-favourite:hover, 
.catalog-load-button:hover, 
.catalog-pagination-link:hover {
    background-color: #68A2CA;
}

.hotel-card-favourite:focus, 
.catalog-load-button:focus, 
.catalog-pagination-link:focus {
    border: none;
    outline: 3px solid #756257;
}

.hotel-card-favourite:active, 
.catalog-load-button:active, 
.catalog-pagination-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.hotel-type {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.hotel-price {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.hotel-card-stars {
    display: flex;
    align-items: center;
}

.hotel-card-rating {
    font-size: 16px;
    line-height: 21px;
    background-color: #F2F2F2;
    grid-column: 2 / 3;
    justify-self: end;
    min-height: 37px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-transform: uppercase;
}

.rating-star {
    margin-right: 7px;
}

.catalog-load-button {
    display: block;
    position: relative;
    font-family: inherit;
    border: none;
    width: 620px;
    min-height: 60px;
    background-color: #83B3D3;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin: 0 auto;
    margin-bottom: 60px;
    border-radius: 4px;
    text-transform: uppercase;
}

.catalog-load-button::before {
    content: "";
    position: absolute;
    width: 1055px;
    border-bottom: 1px solid #E6E6E6;
    top: -30px;
    left: -220px;
}

.catalog-load-button::after {
    content: "";
    position: absolute;
    width: 1055px;
    border-bottom: 1px solid #E6E6E6;
    bottom: -30px;
    left: -220px;
}

.catalog-pagination {
    width: 1056px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.catalog-pagination-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

.catalog-pagination-item {
    box-sizing: border-box;
    list-style-type: none;
    width: 55px;
    min-height: 55px;
    background-color: #83B3D3;
    color: #FFF;
    margin-right: 8px;
    border-radius: 4px;
}

.catalog-pagination-current {
    background-color: #F2F2F2;
    color: #000;
}

.catalog-pagination-link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    min-height: 55px;
}

.cards-control {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.pagination-view-title {
    margin-right: 51px;
}

.pagination-view-control {
    width: 160px;
    min-height: 48px;
    padding: 13px 17px;
    font: inherit;
    color: black;
    appearance: none;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    background-image: url(../img/catalog/catalog-summary-dropdown.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    text-wrap: wrap;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
}

.welcomeToSedona img {
    display: block;
    margin: 0 auto;
}

.advantages-header, 
.advantages-intro {
    text-align: center;
}

.advantages-list {
    margin: 0;
    padding: 0;
}

.advantages-item {
    display: flex;
    flex-wrap: wrap;
    min-height: 384px; 
}

.advantages-item img {
	vertical-align: bottom;
}

.photo-advantage-description {
    box-sizing: border-box;
    width: 400px;
    text-align: center;
    padding: 93px 85px 83px;
}

.advantage-description {
    box-sizing: border-box;
    width: 400px;
    text-align: center;
    padding: 95px 85px 83px;
}

.advantage-description h2 {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.advantages-definitions-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
	text-decoration: none;
}

.advantages-definitions-item {
    display: block;
    width: 250px;
    padding: 90px 75px 79px;
    text-align: center;
    background-color: rgba(101,135,166, 0.12);
}

.advantages-definitions-item:nth-child(3) {
    padding-top: 85px;
}

.advantages-img {
    margin-bottom: 23px;
}

.advantages-definitions-item:nth-child(even) {
    background-color: #FFF;
}

.advantages-definitions-item h3, 
.advantages-definitions-item p {
    margin: 0;
    padding: 0;
    display: block;
    width: 250px;
}

.advantages-definitions-item h3 {
    margin-bottom: 21px;
}

.advantages-definitions-item p {
    margin: 0;
}

.advantages-definitions-item h3 {
    font-weight: bold;
    text-transform: uppercase;
}

.advantage-description {
    background-color: rgba(101,135,166, 0.12);
}

.advantage-description:nth-child(even) {
    background-color: rgba(101,135,166, 0.2);
}

.advantage-description h3 {
    text-transform: uppercase;
    padding: 0 25px;
}

.appointment {
    width: 720px;
    min-height: 237px;
    margin: 0 auto;
    padding-top: 90px;
    padding-right: 240px;
    padding-bottom: 87px;
    padding-left: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.appointment-title, 
.appointment-text, 
.subscription-title, 
.subscription-text {
    margin: 0;
    padding: 0;
}

.appointment-title {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.appointment-text {
    margin-bottom: 55px;
}

.subscription-title {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.subscription-text {
    margin-bottom: 45px;
}

.page-footer {
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 60px;
    padding-bottom: 40px;
    padding-right: 72px;
    display: flex;
    border-top: 1px solid transparent;
}

.footer-social-list {
    width: 107px;
    margin: 0;
    margin-left: 45px;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.footer-social-item {
    display: block;
    margin-left: 8px;
}

.footer-social-list:first-child, 
.footer-social-item:first-child {
    margin-left: 0;
}

.social-logo {
    fill: #83B3D3;
}

.social-logo-link {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    padding: 10px;
}

.social-logo-link:hover .social-logo {
    fill: #68A2CA;
}

.social-logo-link:focus {
    border: none;
    outline: 3px solid #83B3D3;
}

.social-logo-link:active {
    border: none;
    outline: none;
    opacity: 30%;
}

.footer-contacts-address {
    display: block;
    margin-left: 55px;
    margin-top: 10px;
    padding: 0;
    width: 750px;
    text-align: center;
}

.footer-contacts-address .contacts-phone {
    font-style: initial;
}

.contacts-phone {
    text-decoration: none;
    color: #000;
    font-size: 40px;
    font-style: oblique;
}

.page-footer img {
    margin-left: auto;
}

.catalog-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.catalog-title {
    margin: 0;
    padding: 0;
}

.breadcrumbs {
    margin-top: -12px;
    margin-left: -10px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.breadcrumbs-item {
    margin-right: 5px;
    margin-bottom: 20px;
    position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 8px;
    background-image: url(../img/catalog/breadcrumbs-right-arrow.svg);
    left: 35px;
    top: 11px;
}

.breadcrumbs-link {
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    padding: 3px 8px;
    border: 3px solid transparent;
    border-radius: 3px;
}

.breadcrumbs-link:hover {
    opacity: 60%;
}

.breadcrumbs-link:focus {
    outline: none;
    border-color: #83B3D3;
}

.breadcrumbs-link:active {
    opacity: 30%;
    border-color: transparent;
    outline: none;
}

.catalog-filter {
    display: flex;
}

.catalog-filters {
    line-height: 23px;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 30px;
}

.filter-house .catalog-filter-title {
    margin-left: -2px;
}

.filter-price .catalog-filter-title {
    margin-top: 1px;
    margin-left: 4px;
}

.catalog-filter-list {
    margin: 0;
    margin-left: 2px;
    margin-top: 2px;
    padding: 0;
    list-style-type: none;
}

.catalog-filter-item {
    margin-bottom: 13px;
}

.control {
    position: relative;
    display: block;
    padding-left: 39px;
}

.control-mark {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    min-height: 20px;
    left: 0;
    border: 1px solid white;
    background-color: white;
}

.filter-infrastructure .control-mark {
    border-radius: 4px;
}

.filter-house .control-mark {
    border-radius: 50%;
}

.control:hover {
    opacity: 60%;
}

.control-input:focus ~ .control-mark {
    border-color: white;
    outline: 3px solid #83B3D3;
}

.control:active {
    opacity: 30%
}

.control-input[type="checkbox"]:checked + .control-mark {
    background-image: url(../img/catalog/checked-mark.svg);
    background-position: 4px 5px;
    background-repeat: no-repeat;
}

.control-input[type="radio"]:checked + .control-mark::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3F5E72;
}

.filter-group {
    border: none;
}

.filter-infrastructure {
    width: 150px;
    margin: 0;
    margin-left: -2px;
    padding: 0;
}

.filter-house {
    width: 150px;
    margin: 0;
    padding: 0;
    margin-left: 65px;
}

.filter-price {
    width: 287px;
    margin: 0;
    padding: 0;
    margin-left: 150px;
}

.range-scale {
    position: relative;
    left: 5px;
    width: 285px;
    height: 4px;
    background-color: #D3D3D3;
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: white;
}

.range-toggle {
    position: absolute;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 5px;
}

.range-toggle:focus {
    border: none;
    outline: 3px solid #83B3D3;
}

.range-toggle:active {
    border: none;
    outline: 2px solid #83B3D3;
}

.toggle-min {
    left: 3px;
    top: -10px;
}

.toggle-max {
    right: -10px;
    top: -10px;
}

.range-wrapper-inputs {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-left: 6px;
}

.catalog-filter-label {
    position: relative;
}

.filter-text {
    position: absolute;
    top: 14px;
    right: 14px;
    opacity: 30%;
}

.catalog-filter-input {
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 14px 19px;
    width: 144px;
    height: 48px;
    background-color: transparent;
    border: 2px solid white;
    font: inherit;
    color: white;
    appearance: textfield;
}

/*убирает всплывающие при наведении прокрутки*/
.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.filter-buttons {
    width: 160px;
    padding: 0;
    margin-top: 62px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
}

.filter-buttons > .button[type="submit"] {
    box-sizing: border-box;
    width: 160px;
    min-height: 48px;
    border: none;
    border-radius: 4px;
    display: inline-block;
    background-color: #83B3D3;
    color: #FFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.filter-buttons > .button[type="submit"]:hover {
    background-color: #68A2CA;
}

.filter-buttons > .button[type="submit"]:focus {
    border: 3px solid #FFF;
}

.filter-buttons > .button[type="submit"]:active {
    color: rgba(255, 255, 255, 0.3);
}

.filter-buttons > .button[type="reset"] {
    color: #FFF;
    background: none;
    border: none;
    display: inline-block;
    box-sizing: border-box;
    width: 160px;
    min-height: 32px;
    font-size: 18px;
    line-height: 23px;
    margin-top: -5px;
    margin-left: 1px;
    font-family: inherit;
}

.filter-buttons > .button[type="reset"]:hover {
    opacity: 60%;
}

.filter-buttons > .button[type="reset"]:focus {
    border: 3px solid #83B3D3;
}

.filter-buttons > .button[type="reset"]:active {
    opacity: 30%;
    border: none;
}

.catalog-search-sorting {
    margin-top: 2px;
    padding: 0;
    display: flex;
}

.sorting-type {
    display: flex;
    align-items: center;
}

.sorting-type ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.catalog-view-list {
    display: flex;
}

.catalog-view-type {
    stroke: #E6E6E6;
}

.catalog-view-link:focus {
    border: none;
    outline: none;
}

.catalog-view-link:hover .catalog-view-type,
.catalog-view-link:focus .catalog-view-type {
    stroke: #83B3D3;
}

.catalog-view-link:active .catalog-view-type, 
.catalog-view-current {
    stroke: #000;
}

.catalog-view-link {
    text-decoration: none;
}

.catalog-search-result {
    width: 1056px;
    margin-top: 47px;
    margin-left: 91px;
    display: grid;
    grid-template-columns: repeat(3, 340px);
    column-gap: 18px;
    row-gap: 49px;
}

/*Модальное окно*/
.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(242,242,242,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-appointment {
    width: 715px;
    min-height: 561px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 30px;
    padding: 55px 70px;
}

.modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;
}

.modal-title h2 {
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
}

.modal-close-button {
    display: block;
    border: none;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: #F2F2F2;
}

.modal-close-button:hover {
    background-color: #E6E6E6;
}

.modal-close-button:focus {
    border: none;
    outline: 3px solid #83B3D3;
}

.modal-close-button:hover {
    border: none;
    outline: none;
}

.modal-close-button:active .modal-close-icon {
    opacity: 30%;
}

.appointment-picker-wrapper {
    display: grid;
    grid-template-columns: 155px 133px 153px 133px;
    grid-template-rows: 50px 40px 50px 40px 50px;
    margin-bottom: 40px;
}

.in-date-label {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.in-date {
    grid-column: 2 / 5;
}

.in-date-message {
    grid-row: 2 / 3;
    grid-column: 2 / 5;
    font-size: 16px;
}

.wrong-in-date {
    color: red;
}

.out-date-label {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.out-date {
    grid-row: 3 / 4;
    grid-column: 2 / 5;
}

.out-date-message {
    grid-row: 4 / 5;
    grid-column: 2 / 5;
    font-size: 16px;
}

.adult-label {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.adult-input-wrapper {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    position: relative;
}

.adult-input {
    width: 100%;
}

.children-label {
    position: relative;
    grid-row: 5 / 6;
    grid-column: 3 / 4;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}


.children-input-wrapper {
    grid-row: 5 / 6;
    grid-column: 4 / 5;
    display: flex;
    align-items: center;
    position: relative;
}

.children-info-button {
    position: absolute;
    right: 20px;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: #83B3D3;
    color: white;
}

.popover-children-info {
    position: absolute;
    box-sizing: border-box;
    width: 256px;
    padding: 15px 15px 18px 22px;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: white;
    font-size: 16px;
    font-weight: normal;
    right: 18px;
    top: 42px;
}

.popover-triangle {
    position: absolute;
    right: 128px;
    top: -9px;
}

.popover-children-info p {
    margin: 0;
    padding: 0;
}

.popover-visibility {
    display: none;
}

.children-input {
    width: 100%;
}

.modal-input {
    display: block;
    min-height: 50px;
    border: none;
    appearance: none;
    background-color: #F2F2F2;
    border-radius: 4px;
    padding: 0 19px;
    font: inherit;
    font-weight: bold;
}

.modal-input:hover {
    background-color: #E6E6E6;
}

.modal-input:focus {
    border: none;
    outline: 3px solid #83B3D3;
}

.modal-input:active {
    border: none;
    outline: 2px solid black;
}

 input[type="date"].modal-input {
    background-image: url(../img/catalog/modal-dateInput-icon.svg);
    background-repeat: no-repeat;
    background-position: right 19px center;
}

/*убрать иконку по умолчанию для календаря*/
.modal-input::-webkit-inner-spin-button,
.modal-input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="number"].modal-input {
    text-align: center;
}

.modal-input-button {
    position: absolute;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    font: inherit;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minus-modal-button {
    right: 10px;
}

.plus-modal-button {
    left: 10px;
}

.modal-icon {
    opacity: 30%;
}

.modal-input-button:hover {
    cursor: pointer;
}

.modal-input-button:hover > .modal-icon {
    opacity: 100%;
}

.modal-input-button:focus {
    border: none;
    outline: 2px solid #83B3D3;
}

.modal-input-button:active .modal-icon {
    opacity: 20%;
}

.modal-submit-button {
    display: block;
    border: none;
    border-radius: 10px;
    width: 575px;
    min-height: 60px;
    background-color: #83B3D3;
    font: inherit;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.modal-submit-button:hover,
.children-info-button:hover {
    background-color: #68A2CA;
}

.modal-submit-button:focus, 
.children-info-button:focus {
    outline: 3px solid #756257;
}

.modal-submit-button:active, 
.children-info-button:active {
    opacity: 30%;
}

.modal-visibility {
    display: none;
}