@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #333;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.welcomeToSedona {
    margin: 0;
    padding: 0;
    padding-top: 51px;
    width: 1200px;
    height: 434px;
    background-color: lightseagreen;
    background-image: url(../img/index/indexBackgroundHeader.jpg);
    background-repeat: no-repeat;
}

.subscription-main {
    width: 1200px;
    height: 221px;
    margin: 0 auto;
    padding: 95px 0px;
    color: #FFF;
    background-color: lightseagreen;
    background-image: url(../img/index/indexBackgroundFooter.jpg);
    background-repeat: no-repeat;
    text-align: center;
}

.subscription-catalog {
    width: 1055px;
    height: 221px;
    margin: 0 auto;
    padding: 95px 0px;
    text-align: center;
}

.catalog-header {
    margin: 0;
    padding: 35px 72px 86px 72px;
    width: 1042px;
    height: 287px;
    background-color: lightgreen;
    background-image: url(../img/catalog/catalogBackgroundHeader.jpg);
    background-repeat: no-repeat;
}

.main-nav-link {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
}

.navigation-list li {
    list-style-type: none;
}

.navigation-user a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #756257;
    color: #FFF;
    text-decoration: none;
}

.navigation-user-link {
    width: 160px;
    height: 37px;
    font-weight: bold;
    line-height: 20px;
}

.advantages-header, 
.appointment-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #000;
}

.advantages-intro {
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
}

.photo-advantage-description {
    background-color: #83B3D3;
    color: #FFF;
}

.photo-advantage-description h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.advantages-definitions-list dt, 
.advantage-description h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000;
}

.appointment-text {
    font-size: 22px;
    line-height: 26px;
}

.appointment-link {
    display: block;
    width: 575px;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    color: #FFF;
    background-color: #756257;
    text-decoration: none;
}

.subscription-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

.subscription-text {
    font-size: 22px;
    line-height: 26px;
}

.catalog-header {
    color: #FFF;
}

.catalog-title {
    font-weight: bold;
    font-size: 60;
    line-height: 78px;
}

.breadcrumbs-link {
    color: inherit;
    font-size: 16px;
    line-height: 21px;
}

.catalog-filters {
    line-height: 23px;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 26px;
}

.hotels-found-label {
    color: #000;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
}

.hotel-card {
    display: grid;
    grid-template-columns: 133px 140px;
    grid-template-rows: 206px repeat(4, auto);
    column-gap: 26px;
}

.hotel-card-link {
    text-decoration: none;
    grid-column: 1 / -1;
}

.hotel-card-title {
    color: #000;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    margin: 0;
    padding: 0;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}

.hotel-card-about {
    text-decoration: none;
    color: #FFF;
    background-color: #756257;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.hotel-type {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.hotel-price {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.hotel-card-favourite {
    text-decoration: none;
    color: #FFF;
    background-color: #83B3D3;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.hotel-card-rating {
    font-size: 16px;
    line-height: 21px;
    background-color: #F2F2F2;
}

.catalog-load-button {
    width: 620px;
    height: 60px;
    background-color: #83B3D3;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
}

.catalog-pagination-item {
    list-style-type: none;
    width: 55px;
    height: 55px;
    background-color: #83B3D3;
    color: #FFF;
}

.catalog-pagination-current {
    background-color: #F2F2F2;
    color: #000;
}

.catalog-pagination-link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
}

.navigation {
    width: 1060px;
    display: flex;
    margin: 0 auto;
}

.navigation-list {
    min-width: 345px;
    margin: 0;
    margin-left: 30px;
    padding: 20px 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navigation-user {
    width: 264px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
}

.welcomeToSedona img {
    display: block;
    margin: 0 auto;
}

.advantages-header, 
.advantages-intro {
    text-align: center;
}

.advantages-list {
    margin: 0;
    padding: 0;
}

.advantages-item {
    display: flex;
    height: 384px; 
}

.photo-advantage-description, 
.advantage-description {
    width: 400px;
    text-align: center;
    padding: 97px 85px 87px;
}

.advantages-definitions-list {
    margin: 0;
    padding: 0;
    display: flex;
}

.advantages-definitions-item {
    display: block;
    width: 250px;
    padding: 184px 75px 79px;
    text-align: center;
    background-color: rgba(101,135,166, 0.12);
}

.advantages-definitions-item:nth-child(even) {
    background-color: #FFF;
}

.advantages-definitions-item dt, 
.advantages-definitions-item dd {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    display: block;
    width: 250px;
}

.advantage-description {
    background-color: rgba(101,135,166, 0.12);
}

.advantage-description:nth-child(even) {
    background-color: rgba(101,135,166, 0.2);
}

.appointment {
    width: 720px;
    height: 237px;
    margin: 0 auto;
    padding: 90px 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.appointment-title, 
.appointment-text, 
.subscription-title, 
.subscription-text {
    margin: 0;
    padding: 0;
}

.appointment-title {
    margin-bottom: 30px;
}

.appointment-text {
    margin-bottom: 55px;
}

.subscription-title {
    margin-bottom: 30px;
}

.subscription-text {
    margin-bottom: 45px;
}

.page-footer {
    width: 1056px;
    margin: 0 auto;
    padding: 40px 72px;
    display: flex;
}

.footer-social-list {
    width: 107px;
    margin: 0;
    margin-left: 45px;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.footer-social-item {
    margin-left: 30px;
}

.footer-contacts-address {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 750px;
    text-align: center;
}

.catalog-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.catalog-title {
    margin: 0;
    padding: 0;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.catalog-filter {
    display: flex;
}

.filter-infrastructure {
    width: 150px;
    margin: 0;
    padding: 0;
}

.filter-house {
    width: 150px;
    margin: 0;
    padding: 0;
    margin-left: 65px;
}

.filter-price {
    width: 287px;
    margin: 0;
    padding: 0;
    margin-left: 150px;
}

.filter-buttons {
    width: 160px;
    margin: 0;
    padding: 0;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.catalog-search-sorting {
    margin: 0;
    padding: 0;
    display: flex;
}

.sorting-type {
    display: flex;
}

.sorting-type ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.catalog-view-list {
    display: flex;
}

.catalog-view-item a {
    text-decoration: none;
}

.catalog-search-result {
    width: 1056px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 340px);
    column-gap: 18px;
    row-gap: 10px;
}

.catalog-load-button {
    display: block;
    width: 620px;
    margin: 0 auto;
}

.catalog-pagination {
    width: 1056px;
    margin: 0 auto;
    display: flex;
}

.catalog-pagination-list {
    display: flex;
}